{% extends 'base.html' %}
{% load static %}

{% block header %}

<style>
.collapse-toggle:not( :hover ){
  text-decoration: none;
}
.collapse-caret .collapse-toggle:hover {
    text-decoration: none;
}
.collapse-caret .collapse-toggle:hover span,
.collapse-caret .collapse-toggle:hover strong {
    text-decoration: underline;
}
.collapse-caret .collapse-toggle:before {
    font-size: 15px;
    vertical-align: 0px;
}
.collapse-caret .collapse-toggle:not(.collapsed):before {
    content: "▾";
    margin-right: 0px;
}
.collapse-caret .collapse-toggle.collapsed:before {
    content: "▸";
    margin-right: 0px;
}
#agg_network {
  height: 500px;
}
.collapse-caret > .panel-body {
    padding-bottom: 0px;
}
</style>

{% endblock %}

{% block content %}

<div class="page-header">
    <h1>Sumário
        <small>{{ summary.element_fqn }}</small>
        <div class="btn-group pull-right" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Ordenar Seções
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="sort(alphabetical);">Alfabeticamente</a></li>
                    <li><a href="#" onclick="sort(granularity_asc);">Granularidade (crescente)</a></li>
                    <li><a href="#" onclick="sort(granularity_desc);">Granularidade (decrescente)</a></li>
                </ul>
            </div>
        </div>
    </h1>
</div>

<form class="form-horizontal" id="form_summary" method="post" action="{% url 'manual_tagging:save' summary.id %}">
    {% csrf_token %}
    <div id="basic_information_container">
        {% if summary.experiment.type.is_complete and summary.nodes %}
        <div class="panel panel-default collapse-caret" id="agglomerations">
            <div class="panel-heading">
                <a class="collapsed collapse-toggle" data-toggle="collapse" href="#agg_collapse">
                    <strong>Aglomerações</strong>
                </a>
            </div>
            <div class="panel-body collapse" id="agg_collapse" style="height: 600px; padding: 0px;">
                <div id="agg_network"></div>

                <div class="panel panel-info" style="margin: 15px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Qual a relevância desta seção?
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for imp in importance %}
                        <label class="radio-inline">
                            <input type="radio"  name="rel_aglomeracao" data-parsley-ui-enabled="false"
                                   {% if answer.agglomeration_rating == imp.0 %} checked {% endif %}
                                   value="{{imp.0}}"/> {{imp.1}}
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if smells_instances %}
        <div class="panel panel-default collapse-caret" id="code_smells">
            <div class="panel-heading">
                <a class="collapsed collapse-toggle" data-toggle="collapse" href="#anomalies_collapse">
                    <strong>Anomalias de Código (Code Smells)</strong>
                </a>
            </div>
            <div class="panel-body collapse" id="anomalies_collapse">
                {% for instance in smells_instances %}
                <dl class="dl-horizontal">
                    <dt>Anomalia</dt>
                    <dd>{{instance.smell.name}}</dd>
                    <dt>Descrição</dt>
                    <dd>{{instance.smell.description}}</dd>
                    <dt>Aglomerado?</dt>
                    <dd>{% if instance.is_part_of_agglomeration %} Sim {% else %} Não {% endif %}</dd>
                    <dt>Elemento</dt>
                    <dd>{{instance.affected_element}}</dd>
                    <dt>Razão</dt>
                    <dd>{% autoescape off %}{{instance.reason}}{% endautoescape %}</dd>
                    {% if not summary.experiment.type.is_complete %}
                    <dt>É Smell?</dt>
                    <dd>
                        {% for opinion in opinions %}
                        <div class="radio">
                            <label>
                                <input type="radio" name="smell_opinion_{{instance.id}}" required
                                       data-parsley-ui-enabled="false"
                                     {% if opinion.id == instance.opinion.id %} checked {% endif %} value="{{opinion.id}}">
                                {{ opinion.opinion }}
                            </label>
                        </div>
                        {% endfor %}
                    </dd>
                    {% endif %}
                </dl>
                <hr/>
                {% endfor %}
                {% if summary.experiment.type.is_complete %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Qual a relevância desta seção?
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for imp in importance %}
                        <label class="radio-inline">
                            <input type="radio"  id="rel_smells" name="rel_smells" data-parsley-ui-enabled="false"
                                   {% if answer.smells_rating == imp.0 %} checked {% endif %}
                                   value="{{imp.0}}"/> {{imp.1}}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% if summary.experiment.type.is_complete and summary.nonfunctionalattributeinstance_set.all %}
        <div class="panel panel-default collapse-caret" id="non_functional">
            <div class="panel-heading">
                <a class="collapsed collapse-toggle" data-toggle="collapse" href="#nonfunc_collapse">
                    <strong>Atributos Não Funcionais Violados</strong>
                </a>
            </div>
            <div class="panel-body collapse" id="nonfunc_collapse">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Atributo</th>
                        <th>Descrição</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for instance in summary.nonfunctionalattributeinstance_set.all %}
                    <tr>
                        <td>{{ instance.non_functional_attribute.name }}</td>
                        <td>
                            <p>{{ instance.non_functional_attribute.description }}</p>
                            {% if instance.reason %}
                            <p><strong>Razão:</strong> {% autoescape off %}{{instance.reason}}{% endautoescape %}</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Qual a relevância desta seção?
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for imp in importance %}
                        <label class="radio-inline">
                            <input type="radio"  id="rel_nonfunc" name="rel_nonfunc" data-parsley-ui-enabled="false"
                                   {% if answer.non_functional_ratings == imp.0 %} checked {% endif %}
                                   value="{{imp.0}}"/> {{imp.1}}
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if summary.experiment.type.is_complete and summary.designpatterninstance_set.all %}
        <div class="panel panel-default collapse-caret" id="design_patterns">
            <div class="panel-heading">
                <a class="collapsed collapse-toggle" data-toggle="collapse" href="#dpatterns_collapse">
                    <strong>Padrões de Projeto ou Arquiteturais Implementados</strong>
                </a>
            </div>
            <div class="panel-body collapse" id="dpatterns_collapse">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="15%">Padrão</th>
                        <th width="40%">Descrição</th>
                        <th>Elementos Envolvidos</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for instance in summary.designpatterninstance_set.all %}
                    <tr>
                        <td>{{ instance.design_pattern.name }}</td>
                        <td>
                            <p>{{ instance.design_pattern.description }}</p>
                            {% if instance.reason %}
                            <p><strong>Razão:</strong> {% autoescape off %}{{instance.reason}}{% endautoescape %}</p>
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                {% for el in instance.elements_list %}
                                <li>{{el}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Qual a relevância desta seção?
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for imp in importance %}
                        <label class="radio-inline">
                            <input type="radio"  id="rel_dpatterns" name="rel_dpatterns" data-parsley-ui-enabled="false"
                                   {% if answer.design_patterns_rating == imp.0 %} checked {% endif %}
                                   value="{{imp.0}}"/> {{imp.1}}
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if summary.experiment.type.is_complete and summary.designprincipleinstance_set.all %}
        <div class="panel panel-default collapse-caret" id="design_principles">
            <div class="panel-heading">
                <a class="collapsed collapse-toggle" data-toggle="collapse" href="#design_collapse">
                    <strong>Atributos de Qualidade e Princípios Violados</strong>
                </a>
            </div>
            <div class="panel-body collapse" id="design_collapse">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Princípio</th>
                        <th>Descrição</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for instance in summary.designprincipleinstance_set.all %}
                    <tr>
                        <td>{{ instance.design_principle.name }}</td>
                        <td>
                            <p>{{ instance.design_principle.description }}</p>
                            {% if instance.reason %}
                            <p><strong>Razão:</strong> {% autoescape off %}{{instance.reason}}{% endautoescape %}</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Qual a relevância desta seção?
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% for imp in importance %}
                        <label class="radio-inline">
                            <input type="radio"  id="rel_dprinciples" name="rel_dprinciples" data-parsley-ui-enabled="false"
                                   {% if answer.design_principles_rating == imp.0 %} checked {% endif %}
                                   value="{{imp.0}}"/> {{imp.1}}
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    {% if summary.similar_summaries.all or similar_by_smell %}
    <div class="panel panel-default collapse-caret" id="examples">
        <div class="panel-heading">
            <a class="collapsed collapse-toggle" data-toggle="collapse" href="#examples_collapse">
               <strong>Sumários com Características Similares</strong>
            </a>
        </div>
        <div class="panel-body collapse" id="examples_collapse">
            <ul>
                {% for similar in summary.similar_summaries.all %}
                <li>
                    <a href="{% url 'manual_tagging:details' similar.id %}">{{ similar.element_fqn }}</a>
                </li>
                {% endfor %}
                {% for similar in similar_by_smell %}
                <li>
                    <a href="{% url 'manual_tagging:details' similar.id %}">{{ similar.element_fqn }}</a>
                </li>
                {% endfor %}
            </ul>
            {% if summary.experiment.type.is_complete %}
             <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Qual a relevância desta seção?
                    </h3>
                </div>
                <div class="panel-body">
                    {% for imp in importance %}
                    <label class="radio-inline">
                        <input type="radio"  id="rel_examples" name="rel_examples" data-parsley-ui-enabled="false"
                               {% if answer.examples_rating == imp.0 %} checked {% endif %}
                               value="{{imp.0}}"/> {{imp.1}}
                    </label>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Validação do Problema</strong></div>
        <div class="panel-body">
            <div class="form-group">
                <label for="observations" class="col-sm-2 control-label">Observações</label>
                <div class="col-sm-10">
                    <textarea id="observations"
                              data-parsley-required-message="Campo obrigatório"
                              name="observations" class="form-control" rows="5" required>{{ answer.observations }}</textarea>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn pull-right btn btn-success btn-lg">Salvar</button>

</form>

{% if summary.nodes %}
<script type="text/javascript">
  // create an array with nodes
  var nodes = new vis.DataSet([
    {% for node in summary.nodes %}
       {% if node == summary.element_fqn %}
            {id: '{{node}}', label: '{{node}}', title:'{{ summary.smells|get_item:node }}', color:'#FF6666'},
       {% else %}
            {id: '{{node}}', label: '{{node}}', title:'{{ summary.smells|get_item:node }}', color:'#97C2FC'},
       {% endif %}
    {% endfor %}
  ]);

  // create an array with edges
  var edges = new vis.DataSet([
    {% for edge in summary.edges %}
        {% if edge.2 == 'R' %}
            {from: '{{edge.0}}', to: '{{edge.1}}', arrows:'to', dashes:true, color:'#97C2FC'},
        {% endif %}
        {% if edge.2 == 'I' %}
            {from: '{{edge.0}}', to: '{{edge.1}}', arrows:'to', color:'#97C2FC'},
        {% endif %}
        {% if edge.2 == 'A' %}
            {from: '{{edge.0}}', to: '{{edge.1}}', color:'#97C2FC'},
        {% endif %}
    {% endfor %}
  ]);

  // create a network
  var container = document.getElementById('agg_network');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    nodes: {
        shape: 'box',
        borderWidth: 1,
        shadow:true,
        "physics": false
    },
    edges: {
        width: 1,
        shadow:true,
        "smooth": {
          "forceDirection": "none"
        }
    },
    "physics": {
       "minVelocity": 0.75,
       "solver": "repulsion"
    },
    interaction: {
       navigationButtons: true,
       keyboard: true
    }
  };
  var network = new vis.Network(container, data, options);

  $('#agg_collapse').on('shown.bs.collapse', function () {
    network.fit();
  });

</script>
{% endif %}

<script src="{% static 'manual_tagging/js/summary_details.js' %}"></script>

<script type="text/javascript">
    setupRelevanceEvents();
</script>

{% endblock %}

