{% extends 'base.html' %}
{% load static %}

{% block header %}
    <script src="{% static 'manual_tagging/js/next_tweets.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6"><h1>Tweets to Classify <small>showing {{ tags|length }} tweets</small></h1></div>
            <div style="padding-top: 22px;" class="col-md-6 align-middle">
                <div class="btn-group pull-right" role="group">
                    <a href="{% url 'manual_tagging:next_tweets' 10 %}"
                       role="button"
                       class="btn btn-default {% if '/10/' in request.path %} active {% endif %}">
                        10
                    </a>
                    <a href="{% url 'manual_tagging:next_tweets' 25 %}"
                       role="button"
                       class="btn btn-default {% if '/25/' in request.path %} active {% endif %}">
                        25
                    </a>
                    <a href="{% url 'manual_tagging:next_tweets' 50 %}"
                       role="button"
                       class="btn btn-default {% if '/50/' in request.path %} active {% endif %}">
                        50
                    </a>
                    <a href="{% url 'manual_tagging:next_tweets' 75 %}"
                       role="button"
                       class="btn btn-default {% if '/75/' in request.path %} active {% endif %}">
                        75
                    </a>
                    <a href="{% url 'manual_tagging:next_tweets' 100 %}"
                       role="button"
                       class="btn btn-default {% if '/100/' in request.path %} active {% endif %}">
                        100
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% if tags %}
        <form class="form-horizontal" id="form_tags" method="post" action="{% url 'manual_tagging:save_tags' %}">
            <input type="hidden" name="size" value="{{ size }}"/>
            {% csrf_token %}
            {% for tag in tags %}
                <dl class="dl-horizontal">
                    <dt>Tweet</dt>
                    <dd>{{ tag.tweet.text }}</dd>
                    <dt>Classification</dt>
                    <dd>
                        {% for class in classifications %}
                            <label class="radio-inline">
                                <input type="radio" name="classification_tag_{{ tag.id }}"
                                       data-parsley-ui-enabled="false"
                                       value="{{ class.id }}" required/> {{ class.label }}
                            </label>
                        {% endfor %}
                    </dd>
                </dl>
                <hr/>
            {% endfor %}
            <button type="submit" class="btn pull-right btn btn-success btn-lg">Save</button>
        </form>
    {% else %}
        <p>You have finished the manual classification \o/</p>
    {% endif %}
{% endblock %}

